<% include ../partials/header %>
  <div class = "container">
    <div class = "jumbotron">
       <div class = "container">
         <header>
        <h2 class = "sized"> visit the palaces build by us</h2>
        <p> feel the richness of heritage and glory </p>
        <a href="/sites/new" class = "btn btn-primary">add a home </a>
        </header>
       </div>
    </div>
    </div>
    <div class="container">
    <div class = "row">
      <% site.forEach(function(site){ %>
      <div class = " col-lg-3 col-md-4 p-2 col-sm-6 col-xs-12">
        <div class="img-thumbnail fwidth">
            <h2 class = "text-center py-2"><%= site.name %></h2>
            <img src="<%= site.image %>" style = " max-height:150px;" class='img-responsive'>
            <div class = "m-2 text-center">
                <% if(site.body.length > 250){ %>
                    <p class='text-left'><%= site.body.slice(0,100) + '...' ; %></p>
                <% } else { %>
                    <p class='text-left'><%= site.body %></p>
                <% } %>
                
                <a href="sites/<%= site._id %>" class = "btn btn-primary" > more info</a>
            </div>
        </div>
    </div>
    <%  });   %>
    </div>
  </div>
</header>


<% include ../partials/footer %>