<% include ../partials/header %>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-4">
                <div class = "img-thumbnail">
                     <p class = "card-header">sites</p>
                     <ul class="list-group list-group-flush">
                         <li class = " list-group-item active">site 1</li>
                         <li class = " list-group-item">site 2</li>
                         <li class = " list-group-item">site 3</li>
                   </ul>
               </div>
                <div id='map'>
                    
                </div> 
            </div>
            <div class ="col-md-8">
            <div class="img-thumbnail">
                <img class="img-fluid" src="<%= site.image %>" style = "max-width:100%; max-height:450px ">
                <div class="ml-2">
                        <a href="/sites" class= "card-title"><%= site.name %></a>
                        <p class= "card-text"><%=site.body %></p>
                        <p class='float-left'><em>submitted By : <%= site.author.username %></em></p>
                        <p class='float-right mr-2'> created :  <%= moment(site.createdAt).fromNow() %></p>
                </div>
                <br/>
                 <% if(currentUser && site.author.id.equals(currentUser._id)){ %>
                     <div class="m-2">
                         <a class="btn btn-primary" href ="/sites/<%=site._id %>/Edit">edit</a>
                         <form  class = "form-inline" action ="/sites/<%=site._id %>?_method=delete" method ="post">
                             <button class= "btn btn-danger">Delete</button>
                         </form>
                     </div>
                <% } %>
             </div>
             <div class="img-thumbnail">
                <div class="text-right">
                  <a href="/sites/<%=site._id%>/comments/new" class ="btn btn-primary btn-small" id ="button" >Leave A Review</a>
                </div>
                 <hr>
                 <% site.comments.forEach(function(comment){ %>
                     <div class= "row">
                        <div class= "col-md-12 left-space">
                           <span class = "float-right mr-1"><%= moment(comment.createdAt).fromNow() %></span>
                          <strong><%=comment.author.username%></strong>
                           <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a href="/sites/<%=site._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning btn-xs">Edit</a>
                            <form action ="/sites/<%=site._id%>/comments/<%=comment._id%>?_method=delete" method=post class ="d-inline">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                            <% } %>
                        </div>
                     </div>
                 <%  }); %>
             </div>
         </div>
        </div>
    </div>
    
<script>
    // Initialize and add the map
    function initMap() {
        
      // The location of Uluru
      var markerPos = {lat: <%= site.lat %>, 
      lng:  <%= site.lng %>};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: markerPos});
          var contentString = `
          <strong><%= site.name %><br />
          <%= site.location %></strong>
          <p><%= site.description %></p>`
      
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });      
          
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: markerPos, map: map});
      marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
    }
</script>  
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAYkSWLapYl84nyVosSSACyTlrn4Gq2Q8&callback=initMap">
</script>
    
<% include ../partials/footer %>